.Shipping-container{
    display:flex;
    align-items:baseline;
    justify-content: center;
    padding-top: 20px;
    margin-top: 50px;
    margin-left:300px;
    margin-right: 300px;
    margin-bottom: 50px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 5px 15px #dddddd;
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    min-height: 650px;
}
.Shipping-container button{
    background-color: #99BDDF;
    color: #fff;
    font-size: 12px;
    padding: 13px 60px;
    border: 1px solid transparent;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 40px;
    cursor: pointer;
}
.Shipping-container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
    width: 70rem;
}
.Shipping-container span{
    margin-top: 20px;
    color: #31414F;
    font-size: 14px;
}
.Shipping-container p{
    color: #31414F;
    font-size: 12; 
    
}


.enterdata input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 650px;
    outline: none; 
}

.enterdata3 input{ 
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-width: 0.5px;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 8px;
    outline: none; 
    width: 100%;
}

.enterdata2 input{ 
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 650px;
    height: 100px;
    outline: none; 
}

.enterdata select{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 650px;
    outline: none;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;


}
.group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.group select{
    width: 320px;
}
.group2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.group2 input{
    width: 156px;
}
.group2 span{
    font-size: 14px;
}

.c span{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 20px;
}
