.navbar {
  height:8vh;
  width: 100%;
  position:absolute;
  left: 0rem;
  top: 0rem;
  z-index: 4rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  background: linear-gradient(to right, #c9d6ff, #99bddf);
  height: 80px;
}

.navbar .logo {
  color: #31414f;
  font-size: 28px;
}

nav span {
  color: #fff;
  font-size: 24px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: #31414f;
  text-decoration: none;
  font-weight: 600;
}

nav ul li a:hover {
  color: #fff;
  transition: 0.3s;
}

.navbar button {
  border: none;
  color: #99bddf;
  font-weight: bold;
  font-size: 15px;
  background-color: #fff;
  padding: 10px 40px;
  border-radius: 30px;
}

.navbar button:hover {
  background-color: #c9d6ff;
  transition: 0.4s;
}

.nav_link a {
  text-decoration: none;
}

.logo a {
  text-decoration: none;
  color: #31414F;
}

.login-container .logout-button {
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color:#99bddf;
  padding: 10px 20px;
  border-radius: 30px;
  width: 8rem;
}

.login-container .logout-button:hover {
  background-color: #c9d6ff;
  transition: 0.4s;
}

.username {
  color: black; 
  margin-right: 10px; 
}

.nav_link {
  margin-left: 12rem; 
  padding-right: 20px; 
}

.logout-button{
  margin-left: 3.8rem;
}

.username{
  color: white;
  font-weight: 5rem;
  position: relative;
  left: 4rem;
}