*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #D5E9F4;
  background: linear-gradient(to right, #fff, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.app {
  transition: opacity 0.5s ease-in-out;
}

.app-enter {
  opacity: 0;
}

.app-enter-active {
  opacity: 1;
}

.app-exit {
  opacity: 1;
}

.app-exit-active {
  opacity: 0;
}

